<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/base}">
<head>
    <title>Acceso Denegado</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <!-- 403 Error Text -->
            <div class="text-center mt-5">
                <div class="error mx-auto" data-text="403">403</div>
                <p class="lead text-gray-800 mb-5">Acceso Denegado</p>
                <p class="text-gray-500 mb-0" th:text="${errorMessage}">No tienes los permisos para esto.</p>
                <a th:href="@{/}">&larr; Volver al Dashboard</a>
            </div>
        </div>
    </div>
</body>
</html>
