<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/receptionist_layout}">
<head>
    <title>Panel de Recepcionista</title>
</head>
<body>

    <div layout:fragment="content">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel de Control</h1>
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 70vh;">

            <img th:src="@{/img/build.svg}"
                 alt="Módulo en construcción"
                 class="img-fluid mb-4"
                 style="max-height: 320px;">

            <h4 class="font-weight-bold text-gray-800 mb-2">
                Estamos preparando tu panel
            </h4>

            <p class="text-gray-500 small">
                Este módulo se encuentra actualmente en desarrollo.
            </p>

        </div>
    </div>
    
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>
